In [1]:
import pandas as pd

import soepy

In [2]:
params_vec_final_delta0_30000 = [
    1.9564,
    2.00045,
    1.97784,
    0.12268,
    0.15796,
    0.27336,
    0.18262,
    0.09486,
    0.12924,
    0.0774,
    0.05378,
    0.06924,
    1.90499,
    2.42475,
    -0.21136,
    -0.502,
    -0.09893,
    -0.29068,
    0.19794,
    0.60802,
    0.01001,
    0.47366,
    0.47511,
]

In [10]:
model_params_true = pd.read_pickle("init_files/toy_model_init_file_03_3types.pkl")
model_params_true

                         value
category      name
const_wage_eq gamma_0s1  1.925
              gamma_0s2  1.991
              gamma_0s3  1.974
exp_returns   gamma_1s1  0.122
              gamma_1s2  0.157
              gamma_1s3  0.273
exp_accm      g_s1       0.181
              g_s2       0.094
              g_s3       0.128
exp_deprec    delta_s1   0.078
              delta_s2   0.054
              delta_s3   0.070
disutil_work  const_p    1.900
              const_f    2.441
hetrg_unobs   theta_p1  -0.100
              theta_f1  -0.300
              theta_p2  -0.200
              theta_f2  -0.500
shares        share_1    0.200
              share_2    0.300
sd_wage_shock sigma_1    0.010
              sigma_2    0.192
              sigma_3    0.470

In [11]:
list(model_params_true["value"])

[1.925,
 1.991,
 1.974,
 0.122,
 0.157,
 0.273,
 0.181,
 0.094,
 0.128,
 0.078,
 0.054,
 0.07,
 1.9,
 2.441,
 -0.1,
 -0.3,
 -0.2,
 -0.5,
 0.2,
 0.3,
 0.01,
 0.192,
 0.47]

In [15]:
new_params = pd.read_pickle("init_files/toy_model_init_file_03_3types_delta0.pkl")
model_params_true["value"] = new_params["value"]

In [16]:
model_params_true

                            value
category      name
const_wage_eq gamma_0s1  1.941569
              gamma_0s2  2.042471
              gamma_0s3  1.978312
exp_returns   gamma_1s1  0.122442
              gamma_1s2  0.157792
              gamma_1s3  0.274297
exp_accm      g_s1       0.179485
              g_s2       0.093623
              g_s3       0.127891
exp_deprec    delta_s1   0.078219
              delta_s2   0.054289
              delta_s3   0.069853
disutil_work  const_p    1.874745
              const_f    2.387385
hetrg_unobs   theta_p1  -0.099892
              theta_f1  -0.303524
              theta_p2  -0.197459
              theta_f2  -0.516737
shares        share_1    0.202153
              share_2    0.436763
sd_wage_shock sigma_1    0.010120
              sigma_2    0.194743
              sigma_3    0.469069

In [17]:
model_params_true.to_pickle("init_files/toy_model_init_file_03_3types_delta0.pkl")

In [5]:
model_params_delta0_start = model_params_true
model_params_delta0_start["value"] = params_vec_final_delta0_30000

In [7]:
model_params_delta0_start.to_pickle('init_files/model_params_delta0_start.pkl')

In [8]:
model_params_true

                           value
category      name
const_wage_eq gamma_0s1  1.95640
              gamma_0s2  2.00045
              gamma_0s3  1.97784
exp_returns   gamma_1s1  0.12268
              gamma_1s2  0.15796
              gamma_1s3  0.27336
exp_accm      g_s1       0.18262
              g_s2       0.09486
              g_s3       0.12924
exp_deprec    delta_s1   0.07740
              delta_s2   0.05378
              delta_s3   0.06924
disutil_work  const_p    1.90499
              const_f    2.42475
hetrg_unobs   theta_p1  -0.21136
              theta_f1  -0.50200
              theta_p2  -0.09893
              theta_f2  -0.29068
shares        share_1    0.19794
              share_2    0.60802
sd_wage_shock sigma_1    0.01001
              sigma_2    0.47366
              sigma_3    0.47511